<html>

<head>
  <title>Helper Bot</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ url_for('static',filename='js/common_js.js')}}"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/common_css.css')}}">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg">
      <span class="navbar-brand mb-0 h1">Helper Bot</span>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/signout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="wrapper container-fluid" id="messageBody">
    {% for i in list%}
    {% if i['event']=='user' %}
    <div class="row justify-content-start" style="margin-left:0px">
      <div class="you h5">{{i['text']|safe}}</div>
    </div>
    {% elif i['event']=='bot' %}
    <div class="row justify-content-end" style="margin-right: 0px;">
      <div class="bot h5">{{i['text']|safe}}</div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <footer>
    <form id="myform" method="POST" action="/homepage">
      <input type="text" id="text" name="text" placeholder="Enter message...">
      <input type="submit" value="Send" class="btn">
    </form>
  </footer>
</body>

</html>